*{
    margin:0;
    padding:0;
    
}
body{
    background-color: #000000;
    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
    min-width: 102%;
    overflow-x: hidden;
}

h1{
    margin:8px 0px;
    margin-left: 42%;
    font-size:100px;
    display: inline-block; 
 
}
.cerc{
    width: 25px;
    background-color: red;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top:35px;
    right: 150px;
    visibility: hidden;
}

.cart p{
    text-align: center;
    font-weight: 500;
    padding: 0px 45px;
    margin-top: 6px;
}

div.cart{
    float: right;
    font-size:27px;
    height: 45px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius:30px;
    margin-top: 40px;
    margin-right: 70px;
}

.cart:hover
{
    background-color: #c5c5c5;
}

nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #000000;
    height:55px;
    z-index: 3;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    font-weight: 700;
}

nav li{
    display: inline-block;
    border-right: 1px solid white;
}

nav li:hover{
    background-color: #292929;
}

nav li a{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    text-align: center; 
    text-transform: uppercase;
    text-align: left;
    font-size: 20px;
    padding:15px 30px;
    color: #FFFFFF;
    text-decoration: none;
    
}

.main{
    display:flex;
    flex-wrap: wrap;
    margin:80px 40px 150px 40px;
}

.gallery
{
    display: grid;
    width: 950px;
    grid-template-columns: auto auto;
    grid-template-rows: fit-content fit-content fit-content;
    row-gap: 20px;
    column-gap: 20px;
}
.gallery img{
    object-fit: cover;
    width: 100%;
}

.right{
    margin-left:30px;
}

h2{
    margin-top:30px;
    font-size: 40px;
}
h3{
    font-size: 30px;
    font-weight: 400;
    line-height: 1em;
}

.right strong{
    display: block;
    margin-top:25px;
    font-size:30px;
}

.marimi{
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: fit-content 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    column-gap: 10px;
}

.marimi p{
    grid-column: span 3;
    font-size: 30px;
    font-weight: 700;
}
.marimi .marime{
    background-color: #000000;
    color: #FFFFFF;
    transition: background-color 600ms, color 300ms linear;
    border: #FFFFFF 3px solid;
    text-align: center;
    height:50px;
    width: 150px;
    margin-bottom: 15px;
}
.marime:hover{
    background-color: #FFFFFF;
    color: #000000;
}

.marimi .marime label{
    display: block;
    width: 100%;
    padding:13px 0px;
    font-size: 20px;
    font-weight: 700;
}

[type="radio"]:checked ~ label {
    color: #000000;
    background-color: #FFFFFF;
}

div.shop{
    margin-left: 90px;
    margin-top:50px;
    color: black;
    height: 70px;
    width: 400px; 
    border-radius: 45px;   
    background-color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

div.shop label{
    display:block;
    width: 100%;
    padding:20px 0px;
}

div.shop:hover{
    background-color: #bbbbbb;
}

[type="checkbox"]:checked ~ .cerc {
    visibility: visible;
}

.descriere{
    width:700px;
    margin-top:50px;
    font-size:25px;
    font-weight: 600;
}


footer{
    margin-top:50px;
    height:250px;
    display:flex;
    border-top: #FFFFFF solid 3px;
}

footer .cnt{
    font-size: 23px;
    font-weight: 500;
    margin-top:50px;
    margin-left: 40px;  
}

footer .cnt ul{
    list-style: none;
}

footer .followus{
    margin-top:50px;    
    position: absolute;
    left:75%;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
footer .followus img{
    height: 60px;
    margin-right: 5px;
}